*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#667eea,#764ba2);

}

.container{

width:370px;

padding:35px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.25);

color:white;

animation:fade .8s;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

h2{

text-align:center;

margin-bottom:25px;

}

input{

width:100%;

padding:14px;

margin:10px 0;

border:none;

border-radius:10px;

outline:none;

}

.password-box{

display:flex;

align-items:center;

}

.password-box input{

flex:1;

}

.password-box button{

width:50px;

margin-left:8px;

border:none;

background:white;

border-radius:10px;

cursor:pointer;

}

button[type=submit]{

width:100%;

padding:14px;

margin-top:15px;

border:none;

background:#00d4ff;

color:black;

font-weight:bold;

font-size:16px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button[type=submit]:hover{

background:white;

transform:scale(1.03);

}

p{

margin-top:18px;

text-align:center;

}

a{

color:#fff;

font-weight:bold;

}